@import "../../../colors.scss";

.table-head-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: fit-content;
  cursor: default;
  &.clickable {
    cursor: pointer;
  }
  .title {
    font-size: 12px;
    color: $lightGrey;
    font-weight: bold;

    &.large {
      font-size: 14px;
    }
  }
  .sort-icon {
    padding-left: 10px;
  }
  .popup-container {
    width: 150px;
    background-color: $white;
    position: absolute;
    top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .popup-container:after {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 5px;
    background-color: $white;
  }
  .direction-item {
    padding: 6px 4px;
    font-size: 14px;
  }
}
