@import "../../../colors.scss";

.product-page-container {
  width: calc(100vw - 200px);
  padding: 0px 20px 20px 20px;
  min-height: calc(100vh - 100px);
  .children-wrapper {
    display: flex;
  }
  .product-page-wrapper {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 6px;
    box-shadow: rgba(211, 216, 237, 1) 0px 13px 27px -5px, rgba(211, 216, 237, 1) 0px 8px 16px -8px;
    padding: 40px;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .product-image {
    margin-right: 40px;
  }
  .product-name {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .image-and-description-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    &.top {
      padding-top: 20px;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    text-align: justify;
    margin-right: 40px;
  }
  .titles-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
  .info-wrapper {
    width: 150px;
    font-size: 16px;
    color: $grey050;
  }
  .info {
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .price {
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    border-radius: 6px;
    padding: 20px;
    background-color: $primaryColor;
    font-size: 26px;
    color: $white;
    display: flex;
    justify-content: center;
  }
}
