.donut-chart-container {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  .legend-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 15px 20px;
    justify-self: flex-end;
  }
  .legend-item {
    display: flex;
    align-items: center;
  }
  .legend-color {
    width: 30px;
    height: 12px;
    border-radius: 10px;
    margin-right: 8px;
  }
}
