@import "../../../colors.scss";

.button-container {
  margin-top: 20px;
  .button {
    background-color: $primaryColor;
    min-width: 425px;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }

  &.disabled {
    button {
      opacity: 0.1;
      pointer-events: none;
    }
  }
}
