@import "../../../colors.scss";

.sidebar-container {
  background-color: $white;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    height: 100%;
  }
  .item-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    &.isMobile {
      justify-content: center;
    }
    &.isLast {
      position: absolute;
      bottom: 30px;
      width: 100%;
    }
    &.active {
      background-color: $white;
      border-right: 6px solid $primaryColor;
    }
  }
  .item-wrapper:hover {
    cursor: pointer;
    background-color: $lightBlue100;
    border-right: 6px solid $primaryColor;
  }

  .item-icon {
    padding: 0 15px;
  }

  .item-title {
    color: $primaryColor;
    font-weight: bold;
  }
  .user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: $primaryColor;
    height: 100px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .user-name {
    color: $white;
    font-weight: bold;
    padding-top: 10px;
  }
}
.user-image {
  display: flex;
  align-items: center;
  width: 46px;
  height: 46px;
  img {
    border-radius: 50%;
    background-color: $white;
  }
}
