@import "../../../colors.scss";

.total-card-container {
  display: flex;
  min-width: 220px;
  max-width: 500px;
  flex: 1;
  height: 140px;
  background-color: $white;
  border-radius: 6px;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  .info-box-wrapper {
    height: 70px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 14px 20px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .value-box-wrapper {
    height: 70px;
    background-color: $lightBlue;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .total-card-title {
    color: $primaryColor;
    font-size: 14px;
    font-weight: bold;
  }
  .total-card-from {
    font-size: 10px;
    color: $lightGrey;
    font-weight: bold;
    padding-top: 6px;
  }
  .value {
    font-size: 22px;
    color: $primaryColor;
    font-weight: bold;
    padding-left: 20px;
  }
  .value-percentage-wrapper {
    display: flex;
    padding-right: 16px;
  }
  .value-percentage {
    padding-left: 6px;
    display: flex;
    align-items: center;
    color: $green;
    font-weight: bold;
  }
}
